name: Generate Pacman Graph

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Generate Pacman SVG
        uses: Platane/snk@v3
        with:
          github_user_name: harsh-pandhe
          outputs: |
            dist/pacman.svg
            dist/pacman-dark.svg
          palette: github-dark
      
      - name: Deploy to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
          keep_history: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
